@model ProjectManagement.Models.Consultant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueConsultantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniqueConsultantId)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recruiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recruiter.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLead.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamMember.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLeadFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLeadFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketingFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketingManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketingManager.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferredBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferredBy.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacedBy.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetMargin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
