@model IEnumerable<ProjectManagement.Models.Consultant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLeadFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketingFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketingManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferralFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacementFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetMargin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recruiter.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLead.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamMember.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLeadFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketingFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketingManager.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferralFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferredBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetMargin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
