@model ProjectManagement.Models.ViewModels.TimesheetsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TimeSheet</h4>
<hr />

<form asp-action="Edit">

    <div class="row g-3">
        <div class="col-6">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsultantId" class="control-label"></label>
                <select asp-for="ConsultantId" class="form-select" asp-items="ViewBag.ConsultantId">
                    <option>Please Select</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                @*<input type="number" min="1900" max="2099" step="1" value="2016" asp-for="Year" class="form-control" />*@
                <select asp-for="Year" class="form-select" asp-items="ViewBag.Year">
                    <option>Please Select</option>
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>


        @for (int i = 0; i < Model.MonthData.Count; i++)
        {
            <div class="col-12">
                <div class="row">
                    <input type="hidden" asp-for="MonthData[i].Id" value="@Model.MonthData[i].Id" />
                    <input type="hidden" asp-for="MonthData[i].Month" value="@Model.MonthData[i].Month" />
                    <input type="hidden" asp-for="MonthData[i].MonthInt" value="@Model.MonthData[i].MonthInt" />
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MonthData[i].Month" class="control-label">@Model.MonthData[i].Month</label>
                            <div class="input-group">
                                @*<span class="input-group-text">$</span>*@
                                <input asp-for="MonthData[i].Hours" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="MonthData[i].Hours" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MonthData[i].InvoiceAmount" class="control-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="MonthData[i].InvoiceAmount" class="form-control" readonly />
                            </div>
                        </div>
                        <span asp-validation-for="MonthData[i].InvoiceAmount" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MonthData[i].ConsultantPay" class="control-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="MonthData[i].ConsultantPay" class="form-control" readonly />
                            </div>
                        </div>
                        <span asp-validation-for="MonthData[i].ConsultantPay" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MonthData[i].PaidAmount" class="control-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="MonthData[i].PaidAmount" class="form-control" />
                            </div>
                        </div>
                        <span asp-validation-for="MonthData[i].PaidAmount" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MonthData[i].Variation" class="control-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="MonthData[i].Variation" class="form-control" readonly />
                            </div>
                        </div>
                        <span asp-validation-for="MonthData[i].Variation" class="text-danger"></span>
                    </div>

                </div>
            </div>
        }

        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>


<div class="pt-5">
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="@Url.Content("~/js/TimeSheets.js")"></script>
        <script type="text/javascript">

            function getConsultantValue() {
                return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ConsultantsList));
            }

        </script>
    }
}


