@model List<ProjectManagement.Models.TimeSheet>

@{
    ViewData["Title"] = "Index";
}

<h1>Time Sheets</h1>

<div class="d-flex justify-content-between align-items-center pb-3">
    <a asp-action="Create">Create New</a>
    <div>
        <ul style="list-style:none" class="list-group list-group-horizontal" id="consultantByClientFilters">
            <li style="margin-right:10px">
                <input id="TemplateCSV" type="submit" value="Import Template" class="btn btn-success" />
            </li>
            <li style="margin-right:10px">
                <label class="btn btn-success">
                    <form id="importForm" asp-action="ImportTimesheet" method="post" enctype="multipart/form-data">
                        Import <input id="ImportCSV" type="file" name="file" hidden />
                    </form>
                </label>
            </li>
            <li>
                <div class="input-group">
                    <input id="ExportToCSV" type="submit" value="Export" class="btn btn-success" />
                </div>
            </li>
        </ul>

    </div>
</div>

<form action="/TimeSheets/Index" method="GET">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Consultant</span>
                <select id="consultantId" name="consultantId" class="form-select" asp-items="ViewBag.ConsultantId">
                    <option value="0">All</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Year</span>
                <select id="year" name="year" class="form-select" asp-items="ViewBag.Year">
                    <option value="-1">All</option>
                </select>
            </div>
        </div>

        <div class="col">

            <input style="width:100%" class="btn btn-primary" type="submit" value="Search" />

        </div>
    </div>
</form>
@if (Model != null && Model.Count() != 0)
{

    <div class="table-responsive">
        <table class="table table-bordered border-primary">
            <thead>

                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].ConsultantId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Year)
                    </th>

                    @foreach (MonthData md in Model[0].MonthData)
                    {
                        <th scope="col">
                            @Html.DisplayFor(model => md.Month)
                        </th>
                    }
                    <th scope="col"></th>
                </tr>

            </thead>
            <tbody>
                @foreach (TimeSheet item in Model)
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(Model => item.Consultant.Name)
                        </th>
                        <td>
                            @Html.DisplayFor(model => item.Year)
                        </td>

                        @foreach (MonthData md in item.MonthData)
                        {
                            <td style="white-space:nowrap">
                                @Html.DisplayFor(Model => md.Hours)
                            </td>
                        }

                        <td style="white-space:nowrap">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {


            $("#ExportToCSV").click(function () {

                var consultantId = $("#consultantId").val();
                var year = $("#year").val();
                var url = '@Url.Action("ExportAsCSV", "TimeSheets")' + '/' + consultantId + '/' + year;
                window.location.href = url;

            });

            $("#TemplateCSV").click(function () {
                var url = '@Url.Action("DownloadImportTemplate", "TimeSheets")';
                window.location.href = url;

            });
            $("#ImportCSV").on("change", function () {
                $("#importForm").submit();
            });

            $("form").submit(function (e) {
                e.preventDefault();
                var formAction = $(this).attr("action");

                var files = $('#ImportCSV').prop("files");
                var fdata = new FormData();

                fdata.append("file", files[0]);

                $.ajax({
                    type: 'post',
                    url: formAction,
                    data: fdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        alert(msg);
                    },
                    error: function (msg) {
                        console.log(msg.responseJSON);
                        alert(msg.responseJSON.detail);
                    }
                });
            });
        });
    </script>
}

