@model List<ProjectManagement.Models.TimeSheet>

@{
    ViewData["Title"] = "Index";
    //List<int> yearDropdown = new List<int>();
    //for (int i = 2000; i < 2200; i++)
    //{
    //    yearDropdown.Add(i);
    //}
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="/TimeSheets/Index" method="GET">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Consultant</span>
            <select name="consultantId" class="form-select" asp-items="ViewBag.ConsultantId">
                <option value="0">All</option>
            </select>
</div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Year</span>
                <select name="year" class="form-select" asp-items="ViewBag.Year">
                    <option value="-1">All</option>
                    @*@foreach (var year in yearDropdown)
                    {
                        <option>@year</option>
                    }*@

                </select>
            </div>
        </div>
       
        <div class="col">

            <input style="width:100%" class="btn btn-primary" type="submit" value="Search" />

        </div>
    </div>
</form>

<table class="table overflow-auto table-bordered border-primary">
    <thead>
        @foreach (TimeSheet item in Model)
        {  
        <tr>
            <th>
                @*@item.ConsultantId*@
                Consultant
            </th>
            <th>
                @*@item.Year*@
                Year
            </th>

                @foreach (MonthData md in item.MonthData)
                {
                <th>
                        @md.Month
                </th>
            } 
            <th></th>
        </tr>
        }
    </thead>
    <tbody>
        @foreach (TimeSheet item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Consultant.Name)*@
                </td>
                <td>
                    @item.Year
                </td>

              @foreach (MonthData md  in item.MonthData)
                {
                    <td style="white-space:nowrap">
                        @*@Html.DisplayFor(modelItem => item.Hours)*@
                        @md.Hours
                    </td>
                }
                   
                
                
                @*<td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.FebBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.MarBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.AprBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.MayBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.JunBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.JulBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.AugBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.SepBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.OctBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.NovBilling)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.DecBilling)
                </td>*@
                <td style="white-space:nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
