@model List<ProjectManagement.Models.TimeSheet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="/TimeSheets/Index" method="GET">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Consultant</span>
            <select name="consultantId" class="form-select" asp-items="ViewBag.ConsultantId">
                <option value="0">All</option>
            </select>
</div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Year</span>
                <select name="year" class="form-select" asp-items="ViewBag.Year">
                    <option value="-1">All</option>
                </select>
            </div>
        </div>
       
        <div class="col">

            <input style="width:100%" class="btn btn-primary" type="submit" value="Search" />

        </div>
    </div>
</form>

<table class="table overflow-auto table-bordered border-primary">
    <thead>
       
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ConsultantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Year)
            </th>

                @foreach (MonthData md in Model[0].MonthData)
                {
                <th>
                        @md.Month
                </th>
            } 
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (TimeSheet item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.Consultant.Name)
                </td>
                <td>
                    @item.Year
                </td>

              @foreach (MonthData md  in item.MonthData)
                {
                    <td style="white-space:nowrap">
                        @Html.DisplayFor(Model => md.Hours)
                    </td>
                }
                   
                <td style="white-space:nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
