@model IEnumerable<ProjectManagement.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Manage Users";
}

<h1>Manage Users</h1>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                   @*<a asp-action="edit" asp-route-id="@item.id">edit</a> |
                    <a asp-action="details" asp-route-id="@item.id">details</a> |*@
                    <a asp-action="delete" asp-route-id="@item.UserId">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@Html.ActionLink("Delete", "ConfirmDelete", new { id = item.DoctorId })*@